html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #423D7B url('../img/type.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Tangerine';
    letter-spacing: 2px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
    perspective:800px;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: transform 1s;
    transform-style:preserve-3d;
}

.deck .card.open {
    transform: rotateY(180deg);
    background: #120F40;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #9B488E;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 380px;
    margin-bottom: 10px;
    color: #E1E0EB;
    font-size: 18px;
    font-family: 'Fenix';
    letter-spacing: 1px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

div.move-counter {
    display: inline;
    margin: 0 10px;
}

div.time-keeper {
  display: inline;
  margin: 0 10px;
}

div.scores {
  display: inline;
  margin: 0 10px;
}

/* modal styles */
button#repeat {
  background: #02ccba;
  color: white;
  display: block;
  margin: auto;
  height: 60px;
  width: 120px;
  font-size: 18px;
  font-weight: bold;
}

button#repeat:hover {
  background: #02b3e4;
}

.modal {
  display:none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0, 0.7)
}

.modal-content {
  background-color: white;
  margin: 20% auto;
  width: 70%;
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
  text-align: center;
  position: relative;
  animation-name: modalopen;
  animation-duration: 1s;
}

@keyframes modalopen{
  from{opacity: 0}
  to{opacity: 1}
}

span#closeBtn {
  color: #A9A9A9;
  float: right ;
  font-size: 42px;
  position: absolute;
  top: -15px;
  right: 5px;
}

#closeBtn:hover, .closeBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

div#overlay {
  position: fixed; /* Sit on top of the page content */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#overlay-text {
  font-family: 'Tangerine', cursive;
  font-weight: bold;
  text-align: center;
}

section#instructions {
  margin-top: 50px;
}

section#instructions > h2 {
  font-size: 32px;
}

h1.lead-text {
  font-size: 72px;
  color: #E1E0EB;
}

section#faq {
  color: #E1E0EB;
  margin-top: 40px;
  text-align: center;
  font-size: 24px;
}

section#faq > h2 > a {
  text-decoration: none;
  color: white;
}

section#faq > h2 > a:hover {
  color: red;
}

hr.fancy {
  padding: 0;
  border: none;
  border-top: medium double;
  text-align: center;
  width: 33%;
}

.voynich {
  font-family: 'Voynich123'; 
  font-weight: normal; 
  font-style: normal; 
}

p.voynich {
  margin-top: 5px;
}

button#start {
  background-color: #faebd7;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 34px;
  margin-top: 20px;
  cursor: pointer;
  font-family: 'Tangerine';
  font-weight: bold;
}